div.title img {
    width: 400px;
    height:150px;
    border-radius: 15px 50px;
    box-shadow: 10px 10px grey;
    margin: 20px;
    position: relative;
    -webkit-transition: width 2s height 2s;
    transition: 2s;
}
div.title img:hover {
    width: 700px;
}
header{
    margin: 2px auto;
    background-color: #ffe6e6;
    position: relative;
    width: auto;
    height:212px;
}
h2.phone img{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 70%;
    top: 2%;
    margin:1%;
}
h2.telephone {
    font-style: oblique;
    position: absolute;
    height: 20px;
    left:72%;
    top: 0;
    margin:1%;
}
h2.mail img{
   position: absolute;
    height: 20px;
    width: 20px;
    left: 70%;
    top:18%;
    margin:1%;
    padding-top: 1%;
}
h2.email {
    font-style: oblique;
    position: absolute;
    height: 20px;
    left:72%;
    top:15%;
    margin:1%;
    padding-top: 1%;
}
h2.skype img{
   position: absolute;
    height: 20px;
    width: 20px;
    left: 70%;
    top:42%;
    margin:1%;
    padding-top: 1%;
}
h2.cont {
    font-style: oblique;
    position: absolute;
    height: 20px;
    left:72%;
    top:40%;
    margin:1%;
    padding-top: 1%;
}
h2:hover {
    color: #808080;
}
hr {
    margin: auto;
    position: relative;
}
/*menu*/
#menu {
    color: #46350e;
    font-family: Comic Sans MS sans-serif;
    font-size: 1.7em;
}
